<!DOCTYPE html>
<html>
<head>
  <script src="https://apis.google.com/js/client:platform.js" async defer></script>
  <meta name="google-signin-client_id" content="784365841851-eir97k8btvldp33392cj3enuklm80p4n.apps.googleusercontent.com">
  <title>You shall not pass!</title>
</head>
<body>
  <form method=POST action={% url 'authentication:loginVerify' %}>
    {% csrf_token %}
    <input type="text" name="user" placeholder=Username required /><br>
    <input type="password" name="password" placeholder=Password required /><br>
    <button type=submit>Submit</button><br>
  </form>
  <a href={% url 'authentication:googleLogin' %}>Sign in Using Google</a>
  {% comment %}
  {# <div class="g-signin2" data-onsuccess="onSignIn"></div> #}
  <span id="signinButton">
    <span
      class="g-signin"
      data-callback="signinCallback"
      data-clientid="784365841851-eir97k8btvldp33392cj3enuklm80p4n.apps.googleusercontent.com"
      data-cookiepolicy="single_host_origin"
      data-requestvisibleactions="http://schema.org/AddAction"
      data-scope="https://www.googleapis.com/auth/plus.login">
    </span>
  </span>
  <script type="text/javascript">
    function onSignIn(googleUser) {
      alert("muahahha, sucess!");
      /*var profile = googleUser.getBasicProfile();
      #console.log('ID: ' + profile.getId());
      console.log('Name: ' + profile.getName());
      console.log('Image URL: ' + profile.getImageUrl());
      console.log('Email: ' + profile.getEmail());*/
    }
    function signinCallback(authResult) {
      if (authResult['status']['signed_in']) {
        // Update the app to reflect a signed in user
        // Hide the sign-in button now that the user is authorized, for example:
        document.getElementById('signinButton').setAttribute('style', 'display: none');
        alert("muhahaha, success bitches!!")
      } else {
        // Update the app to reflect a signed out user
        // Possible error values:
        //   "user_signed_out" - User is signed-out
        //   "access_denied" - User denied access to your app
        //   "immediate_failed" - Could not automatically log in the user
        console.log('Sign-in state: ' + authResult['error']);
      }
    }
  </script>
  {% endcomment %}
</body>
</html>
