<!DOCTYPE html>
<html>
<head>
  <title>Registration</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
  <form method="POST" action="{% url 'authentication:listcreateuser' %}?partnerId={{ partnerId }}" id="id_form">
    {% csrf_token %}
    <input type="text" max_length="32" name="username" placeholder="username" required><br>
    <input type="password" max_length="32" id="id_password" name="password" placeholder="password" required><br>
    <input type="password" max_length="32" id="id_confirmpassword" name="confirmpassword" placeholder="confirm password" required><br>
    <input type="text" max_length="64" name="email" placeholder="email"><br>
    <input type="text" max_length="64" name="organization" placeholder="organization"><br>
    <input type="submit">
  </form>

  <script>
    $(document).ready( function() {
      $('#id_form').submit( function(event) {
        var pass = $('#id_password').val();
        var confirmpass = $('#id_confirmpassword').val();
        if (pass.length < 6) {
          alert("Hey, more than 6 character password!");
          event.preventDefault();
        }
        if (pass != confirmpass) {
          alert("Hey, passwords must match");
          event.preventDefault();
        }
      }
      );
    });
  </script>
</body>
</html>
